* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #ade4cd;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px
}

section {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #8cdfbe;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ade4cd;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 16px;
}